@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: white;
  }
  
  .header-container {
    width: 100%;
    padding-top: 50px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #41403d;
    color: white;
    z-index: 1;
  }

  .header-container .header-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Paytone One", sans-serif;
  }

  .header-container .header-name h1{
    color: rgb(255, 183, 0);
    font-size: 50px;
  }

  .header-container .header-name img{
    width: 150px;
  }
  
  .header-container .search-box-pokemon input {
    outline: none;
    border: none;
    width: 250px;
    height: 30px;
    font-size: 1.2rem;
    padding: 0 1px;
    gap: 20px;
  }
  
  .header-container .search-box-pokemon button {
    height: 30px;
  }

  .poke-container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .poke-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    

  }

  .btn-group{
    display: flex;

  }

  .btn-group button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #41403d;
    color: white;
    border: none;
    cursor: pointer;
  }

  .poke-info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 700px;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    z-index: 2; 
  }

  .poke-info-popup img{
    width: 170px;
  }
  
  .popup {
    width: 250px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }