.preloader{
    height: 100vh;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("https://pbs.twimg.com/media/FdvGczlXEAA2k3d?format=jpg&name=large");

}

.preloader .animation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 850px;
    font-size: 20px;
    font-weight: 800;
    overflow: hidden;
    color: white;
    justify-items: center;
    
}

.animation-container .logo{
    width: 375px;
    
}

.animation-container .ball_rigth{
    width: 125px;
}

.animation-container .ball_left{
    width: 125px;
}


.toprigth{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 125px;
    height: 125px;
}

.topleft{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 125px;
    height: 125px;
}

.bottomleft{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 125px;
    height: 125px;
}

.bottomrigth{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 125px;
    height: 125px;
}

